:root {
    --blanco: #FFF;
    --negro: #111111;
    --gris: #d7d7d7;
    --gris-oscuro: #3e3e3e;
    --azul: #25a9e6;

    --fuentePrincipal: 'Raleway', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--negro);
}
h1,h2,h3 {
    text-align: center;
    color: var(--negro);
    text-transform: capitalize;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.5rem;
}
p {
    font-size: 1.4rem;
}

img {
    width: 100%;
    max-width: 400px;
}

/* UTILS */
.text-center {
    text-align: center;
}
.btn {
    padding: 0.8rem;
    border: 1px solid var(--gris-oscuro);
    color: var(--gris-oscuro);
    cursor: pointer;
}
.btn-largo {
    padding: 0.8rem 4rem;
    border: 1px solid var(--gris-oscuro);
    color: var(--gris-oscuro);
    cursor: pointer;
}
.btn-secondary {
    background-color: var(--gris-oscuro);
    color: var(--blanco);
}
.btn-secondary:hover {
    background-color: var(--blanco);
    color: var(--negro);
    transition: ease-in 0.2s;
}
.flex-columnas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}
.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 300px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
}
.dos-columas {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    height: 100px;
}

.img-residencia-demo {
    width: 100%;
}

.casa-datos-demo, .casa-dato-demo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.casa-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem; 
    width: 100%;
}
.galeria-casas {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 4rem;
    justify-content: center;
}
.casa-galeria {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    width: 280px;
}
section {
    margin: 1rem 4rem;
}
.justify-start {
    justify-items: start
}

/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 4rem;
    height: 40px;
    align-items: center;
}
.navigation {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.nav-link {
    padding: 0.1rem 0.8rem;
    border-bottom: 1px solid var(--blanco);
}
.nav-link:hover {
    border-bottom: 1px solid var(--negro);
    transition: ease-in 0.1s;
}
.fondo-oscuro {
    background-color: var(--gris-oscuro);
    color: var(--blanco);
    margin: 4rem 0rem;
}
.linea-oscura {
    display: grid;
    grid-template-columns: 33% 67%;
    gap: 2rem;
    padding: 2rem 4rem;
    justify-items: start;
    max-height: 305px;
}
.linea-img {
    max-width: 600px;
    width: 98%;
    height: 250px;
    object-fit: cover;
}
.linea-texto {
    border-bottom: 1px solid white;
}
.linea-texto > * {
    color: var(--blanco);
}
.agente {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}
.agente h3 {
    color: var(--blanco);
}
.agente-imagen {
    width: 200px;
}

/* BANNER */
.banner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    margin: 0rem 4rem 1rem 4rem;
    background-color: var(--gris);
    height: 400px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* RESIDENCIA */
.casa {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    height: 600px;
    padding: 1rem;
}
.casa-imagen {
    max-width: none;
    padding: 2rem;
    width: 80%;
}
.casa-info {
    width: 100%;
}
.casa-datos {
    display: flex;
    flex-direction: column;
}

/* FOOTER */
.footer {
    border-top: 1px solid var(--negro);
    margin: 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-nav {
    margin-top: 2rem;
}

/* MEDIA */
@media (max-width: 1440px) {
    .casa {
        grid-template-columns: none;
        grid-template-rows: 40% 60%;
        height: auto;
    }
    .casa-imagen {
        max-width: 400px;
    }
}
@media (max-width: 1024px) {
    .flex-columnas {
        flex-direction: column;
    }
    .linea-oscura {
        display: flex;
        flex-direction: column;
        max-height: none;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .header, .navigation {
        flex-direction: column;
    }
    .navigation, .botonera {
        background-color: var(--blanco);
        width: 100%;
    }
    .banner {
        margin-top: 8rem;
    }
}
@media (max-width: 425px) {
    .dos-columas {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .casa-datos-demo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }    
}