:root {
    --blanco: #FFF;
    --negro: #111111;
    --gris: #343A40;
    --azul-suave: #47789b;
    --azul: #0E629E;

    --fuentePrincipal: 'Raleway', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0;
}
a {
    text-decoration: none;
}
h1,h2,h3 {
    text-align: center;
    color: var(--azul);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.5rem;
}

/* Globales */
.container {
    margin: 2rem 10rem;
}
.dos-columnas {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.columnas {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}
.columna, .fila {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.img-columna {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.sombra {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn {
    background-color: var(--azul);
    color: var(--blanco);
    padding: 1rem 3rem;
    font-weight: bolder;
    border: 2px solid var(--azul);
}
.btn:hover {
    background-color: var(--blanco);
    color: var(--azul);
    transition: ease-in 0.2s;
}
/* Header */
.header {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: row;
}
.navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    height: 5rem;
    justify-content: flex-end;
    margin: 1rem 1rem 0 0;
}
.nav-link {
    color: var(--negro);
    padding: 1rem;
}
.nav-link:hover {
    background-color: rgb(101, 161, 213);
    color: var(--blanco);
    transition: ease-in 0.2s;
}

/* Form */
.form {
    color: var(--azul);
}
legend {
    text-align: center;
    font-size: 2.5rem;
}
.input {
    border: none;
    border-bottom: 1px solid var(--azul-suave);
    color: var(--azul);
    height: 30px;
}
.inputBox {
    display: flex;
    flex-direction: column;
}
textarea {
    resize: none;
    width: 100%;
    height: 20rem;
    border: 1px solid var(--azul);
    font-family: var(--fuentePrincipal);
}